body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    margin: 0;
    padding: 0;
    background-image: url('photo.jpg');
    background-size: cover; /* изображение на весь экран */
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; /* чтобы не прокручивалось */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
    position: relative; 
    z-index: 1; /* Шапка поверх фонового изображения */
}


header button, .exitbutton {
    background-color: #555; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    margin-left: 10px; 
    cursor: pointer; 
    border-radius: 25px;
    font-size: 16px; 
    font-weight: 500; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Стиль при наведении на кнопку */
header button:hover, .exitbutton:hover {
    background-color: #777; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Стиль при нажатии на кнопку */
header button:active, .exitbutton:active {
    background-color: #444;
    transform: translateY(0); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.header {
    text-align: center;
    margin-top: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out; /* Анимация появления */
    color: aliceblue;
}

.content {
    text-align: center;
    margin-top: 225px;
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out; /* Анимация появления */
    color: aliceblue;
}

.info {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 8px 12px; 
    border-radius: 20px; 
    display: block; 
    width: fit-content; /* Ширина блока равна ширине содержимого */
    max-width: 600px; 
    margin: 15px auto;
    font-family: 'Arial', sans-serif;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.form {
    margin: 20px auto;
    width: 300px;
    text-align: center;
}

.form input, .form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

table {
    width: 85%;
    border-collapse: collapse;
    margin: 20px auto; /* Центрирование таблицы */
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 25px; 
    overflow: hidden; /* скрыть углы чтобы не выходили за границы */
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

table th { /* для заголовков*/
    background-color: #895500; 
    color: white;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
}

table td {/* для ячеек*/
    background-color: white; 
}
.login, .register {
    color: aliceblue;
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.chooseground {
    color: aliceblue;
    width: 500px;
    margin-bottom: 5px;
    margin-left: 80px;
    
}

.login input, .register input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.mainbuttons {
    background-color: rgb(59, 216, 11); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    margin-left: 10px; 
    cursor: pointer; 
    border-radius: 25px; 
    font-size: 16px; 
    font-weight: 500; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Стиль при наведении на кнопку */
.mainbuttons:hover {
    background-color: #777; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

/* Стиль при нажатии на кнопку */
.mainbuttons:active {
    background-color: #444; 
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.tablebuttons {
    background-color: rgba(216, 127, 11, 0.937);
    color: white;
    border: none;
    padding: 10px 20px; 
    margin-left: 10px; 
    cursor: pointer; 
    border-radius: 15px; 
    font-size: 16px; 
    font-weight: 300; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Стиль при наведении на кнопку */
.tablebuttons:hover {
    background-color: #777; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

/* Стиль при нажатии на кнопку */
.tablebuttons:active {
    background-color: #444; 
    transform: translateY(0); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; /* Расстояние между кнопками */
    margin-top: 20px; 
}

a {
    color: #fbfbfb; /* Основной цвет текста */
    margin: 5px;
    text-decoration: none; 
    font-size: 16px; 
    font-weight: 500; 
    padding: 8px 16px; 
    border-radius: 25px; 
    transition: all 0.3s ease; 
    display: inline-block; 
    background-color: rgba(98, 0, 234, 0.1); 
}

/* Стиль при наведении */
a:hover {
    color: rgb(0, 0, 0); 
    background-color: #ffffff; 
    transform: translateY(-1px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Стиль при нажатии */
a:active {
    background-color: #ffffff; 
    transform: translateY(0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Стиль для посещенных ссылок */
a:visited {
    color: #ffffff;
}

.data-source {
    position: fixed; 
    bottom: 0; /* прижать к нижней части экрана */
    left: 0; 
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    background-color: rgba(51, 51, 51, 0.9);
    border-top: 1px solid #ddd; 
    font-size: 14px; 
    color: #fff; 
    z-index: 1000; /* элемент поверх других */
}

.data-source a {
    text-decoration: none; 
    color: #007BFF;
    font-weight: bold; 
}

.data-source a:hover {
    text-decoration: underline; 
}